/*  less 和 js 支持单行注释 ,而 html 和css 只支持多行斜杠 
    less中嵌套

    .box1{                          .box1{ A ;}
        A;
        .box2{           ===>      .box1 .box2{B;}
            B;
        }                   
    }

*/
.box1 {
  background: blue;
  width: 100px;
  height: 100px;
}
.box1 .box2 {
  background: #1b000c;
  width: 100px;
  height: 100px;
}
.box996 {
  width: 100px;
  height: 100px;
  background: #ff4400;
}
.box233 {
  width: 100px;
  height: 100px;
  background: #add8e6;
}
.box233 .box233qiantao {
  background: #add8e6;
}
