/* wrap 包裹的意思 */
.header-wrap{
    
    height:35px;
    border-bottom: 1px solid #eee;
   
}
/* 直接固定高度35px */

.header{
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
/* 版心 固定宽度 居中 */

.header .list-l{
	float:left;
}
/* 设置浮动类 是赋值给ul的 因为版心左侧和右侧 各有导航栏 ul不浮动会占据整个版心 */
/* 不用设置宽度 浮动高宽由内容直接撑开 */


.header .list-l li{
	float:left;
	/* border:1px solid blue; */
}
    /* 设置li为浮动  */

.header .list-l li a{
	line-height: 35px;
	display: block;
	/* border:1px solid red; */
}   
    /* 给a设置行高=父元素高度 文字居中 并且块级显示铺满撑开li */

.header .list-l .one{
	margin-left: 6px;
}
    /* 给第一个li 左边距 6px */

.header .list-l .one a{
	color:#f40;
}
    /* 
	a的标签颜色比较特别 a不继承 
	给第一个li中的超链接 设置为linked为淘宝色  默认hover已经重构为淘宝色了
	 */

.header .list-r{
	float:right;
    line-height: 35px;
}
    /* 右浮动 */

.white-wrap {
	background: #fff;
	height :150px ;
}

.white{
	
	width:1190px;
	height: 150px;
	margin:0px auto;
}


/* 插入图方式 */
/* 版心 固定宽高 居中 */
.white-wrap .white .logo{
	margin: 38px 0px 0px 22px;
	float:left;
	height:58px ;
	overflow: hidden;
}
/*
 横向布局  将h1设置成 浮动
 全靠内容撑开宽高
 后面配合固定高度和溢出来隐藏SEO 文本
*/
.white-wrap .white .logo a{
	display:block;
	
}
/* 将a转换成块元素  图片的4px留白会被加入此 */
/* -------------------------------------------------------------------------------
   背景图方式 */
/* .white .logo{
	float:left;
} */
/* 背景图方式还是h1浮动 */
/* 背景图方式 淘宝我文字默认浮动左上 
	在a标签中  首行缩进 横向移动位置  移出屏幕外面
	但是padding-top =  logo背景图高度 这样子padding 带着背景图出现 并且会挤出文本 在配合h1固定宽度 和溢出
*/


/* .white .logo a{
	text-indent: -9999px;
	height:58px;
	width:145px;
	display:block;
	background: white url(../images/logo.jpg) no-repeat 0 0;
} */

/* 背景图不会撑开内容 所以a要块化 并固定宽高  使得logo正常显示 */

/* 
----------------------------------------------------------------------------------------- */

.submitDiv{
	float:left;
	/* /* width:700px;
	height:120px; 
	background: pink; */
	margin:30px 0 0 100px;
}
/* 此处可以不设定宽高 被内容撑开即可 但开发中可以显示  方便操作 */


 .submitDiv .baby li{
	float:left;
	width:50px;
	height:25px;
	text-align:center;
	line-height: 25px;
	color:#f40;
}

.submitDiv .baby .current{
	background:#f40 !important;
	color:#fff;
	font-weight: 700;
}

.baby li:hover{
	cursor:pointer;
	background-color: #FFEEE5;
}



/* 此处权重不注意会导致选中的current 会发生层叠  因为权重  所以可以叠加buff 或者直接增加！important来解决权重问题*/
/* 此处不用a标签 因为不是跳转页面  只是切换 利用hover 和 cursor 光标达到指示目的 */



.submitDiv .search{
	float:left;
	height:34px;
	width:500px;
	border: 3px solid #f50;
	border-width: 3px 0px 3px 3px;
	padding-left: 30px;
	/* 也可以用首行缩进 text-indent 达到目的 */
	background:url(../images/fang.png) no-repeat 13px 11px ;
}

.submitDiv .btn{
	width:122px;
	height:40px;
	background: #ff4200;
	border:none;
	color:#eee;
	font:normal 700 18px "宋体";
	float: left;
}

.submitDiv .btn:hover{
	cursor: pointer;
}

.submitDiv .gao{
	float:left;
	width:30px;
	padding-left: 10px;
}
/* 也可以设置br 不设置宽高来达到换行 */
/* 此处拥有一个放大镜 不能完全实现淘宝的功能 是图标字体 以后学习 */
/* 此处发现 按钮和文本框不对齐 发现是两者自带的pading 导致的 */

.submitDiv .shop{
	margin-top: 10px;
	background: pink;
}

.submitDiv .shop li {
	margin-right:9px;
	float:left;
}

.main{
	width:1190px;
	height:555px;
	background: pink;
	margin: 0 auto;
}

.main .main-l {
	width:190px;
	height:555px;
	background: #ff6537;
	float: left;
}

.main-r{
	width: 990px;
	height: 555px;
	background: yellowgreen;
	float:right;

	/* 此处的思路不同 
	   老师讲整个整体分为左右侧  分别左右浮动 
	   而我是 全部左浮动
	*/
}

.main-r .nav{
	height: 44px;
	background: #f1f1f1;
		/*主体导航栏  */
}
.nav ul{
	margin-top: 6px;
}

.main-r-b{
	height: 511px;
	background: greenyellow;
}

.main-r .nav .list01{
	float: left;
	/* 多个ul 横向布局  */
}

.main-r .nav .list01 li{
	float:left;
	margin-right:6px;
	/* 两个橙色轮廓相聚9px */
}

.main-r .nav .list01 li a{
	display: block;
	height:28px;
	color: #ff4400;
	font:normal 700 16px/28px arial;
	/* 内容大小撑开 a  自动水平居中 */
	padding: 0 6px;
	/* padding 的设置技巧  先设置同级之间的间距 */
	/* 圆角属性 */
	border-radius: 12px;
	/* 数值 意味着留白的边距 弧度 */
}

.main-r .nav .list01 li a:hover{
	background: #f40;
	color: rgb(255, 255, 255);
	
}

.main-r .nav .list02{
	float: left;
	/* 多个ul 横向布局  */
}

.main-r .nav .list02 li{
	float:left;
	margin-right: 6px;
	/* 两个橙色轮廓相聚9px */
}

.main-r .nav .list02 a{
	display: block;
	height:28px;
	color:#3c3c3c;
	font:normal 700 14px/28px arial;
	padding:0 4px;
	border-radius: 12px;
}

.main-r .nav .list02 a:hover{
	background: #f40;
	color: #fff;
}
